<% if @link %>
	<a href="/<%= @link.short_url %>"><%= @link.short_url %></a> => <%= @link.url %> (<%= @link.visits %> unique visitor<%= @link.visits == 1 ? "" : "s" %>)
<% else %>
	No link found.
<% end %>
