<% if @link %>
	<a href="<%= path(@link.short_url) %>"><%= pretty_path(@link.short_url) %></a> => <%= @link.url %> 
	(<a href="<%= path(@link.short_url) %>!"><%= @link.visits %></a> unique visitor<%= @link.visits == 1 ? "" : "s" %>)
<% else %>
	No link found.
<% end %>
